<template>
  <div
    ref="wrapperRef"
    class=" relative"
  >
    <ear-left
      class="absolute top-0 right-0 -z-10"
      :style="leftEarStyle"
      v-bind="props"
    />
    <ear-right
      class="right-ear absolute top-0 left-0 -z-10"
      :style="rightEarStyle"
      v-bind="props"
    />
    <slot />
  </div>
</template>

<script lang="ts">
// #region ActionName
export enum ActionName {
  /** 躲貓貓 */
  PEEKABOO = 'peekaboo',
  /** 放鬆 */
  RELAXED = 'relaxed',
  /** 害怕 */
  FEAR = 'fear',
  /** 煩躁，飛機耳 */
  DISPLEASED = 'displeased',
  /** 甩耳朵 */
  SHAKE = 'shake',
}
// #endregion ActionName
</script>

<script setup lang="ts">
import { computed, ref, CSSProperties } from 'vue';

import EarLeft from './cat-ear-left.vue';
import EarRight from './cat-ear-right.vue';

import { throttleFilter, useMouseInElement } from '@vueuse/core';

// #region Props
interface Props {
  /** 目前動作 */
  action?: `${ActionName}`;
  /** 主要毛色 */
  mainColor?: string;
  /** 耳朵內部的顏色 */
  innerColor?: string;
}
// #endregion Props
const props = withDefaults(defineProps<Props>(), {
  action: 'relaxed',
  mainColor: '#E7E7E7',
  innerColor: '#fcfcfc',
});

// #region Emits
const emit = defineEmits<{
  'update:action': [value: Props['action']];
}>();
// #endregion Emits

const wrapperRef = ref<HTMLDivElement>();
const {
  elementWidth: width,
} = useMouseInElement(wrapperRef, {
  eventFilter: throttleFilter(35)
});

const earWidth = computed(() => width.value / 4);

const leftEarStyle = computed<CSSProperties>(() => ({
  width: `${earWidth.value}px`,
  translate: `0% calc(-100% + ${earWidth.value / 2}px)`,
}));
const rightEarStyle = computed<CSSProperties>(() => ({
  width: `${earWidth.value}px`,
  translate: `0% calc(-100% + ${earWidth.value / 2}px)`,
}));

// #region Methods
defineExpose({});
// #endregion Methods
</script>

<style scoped lang="sass">
</style>
